.top-bar {
    margin-top: 0px;
    margin-left: 0px;
    background-color: rgb(0, 110, 255);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.top-bar #top-bar-generateKey-btn {
    margin-left: 10px;
}

.top-bar #top-bar-generateKey-btn,
.top-bar #top-bar-encrypt-btn,
.top-bar #top-bar-decrypt-btn {
    cursor: pointer;
    width: 130px;
    height: 25px;
    background-color: rgb(130, 177, 247);
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: white;
    font-size: 13px;
    color: rgb(2, 56, 126);
    user-select: none;
}

.currentPageBtn {
    background-color: rgb(0, 140, 255) !important;
    color: aliceblue !important;
}